training_data/*
!training_data/real_world/
!training_data/real_world/*
!training_data/real_world/**

synthetic_data/*

all_code.txt
std_data_structs.txt
graveyard/*
src/model_training/runs/*
src/model_training/yolo11l.pt
src/model_training/yolo11m.pt
src/model_training/yolo11n.pt
src/model_training/yolo11s.pt




# Ignore environment file with secrets
.env

# Ignore IDE specific files
.idea/
.vscode/

# Ignore OS specific files
.DS_Store
Thumbs.db

# Ignore Python bytecode
__pycache__/
*.py[cod]